@media screen and (max-width:600px) {
    /* banner part */

    .banner {
        width: 100%;
    }

    .banner-title {
        padding-top: 2rem;
        color: #FFF;
        font-size: 1.375rem;
        font-weight: 800;

    }

    .banner-des {
        color: #FFF;
        font-weight: 400;
        margin-top: 8px;
        width: 400px;
        font-size: 1rem;
        margin-bottom: 32px;
    }

    .banner-input {
        flex-direction: column;
        width: 50%;
        height: 60%;
    }

    .banner-input-text,
    .banner-input-drop,
    .banner-btn {
        width: 230px;
    }

    /* popular part */

    .popular {
        padding-top: 1.5rem;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
        gap: 24px;
    }
    
    .popular-img img{
        width: 100%;
        padding: 24px;
    }
    .popular-content-title {
        font-size: 1.25rem;
        margin: 24px;
    }
    .popular-content-des {
        width: 350px;
        margin: 24px;
    }
    .popular-content-list {
        width: 350px;
        margin: 24px;
    }
    .popular-content button{
        margin-left: 24px;
    }

    /* destination section */
    .destination-gallery img{
        height: 200px;
    }
    .destination-gallery{
        width: 100%;
        margin: 0 auto;
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-areas: 
        "Maldives"
        "Indonesia"
        "Srilanka"
        "North-America"
        "Kashmir"
        "Bangladesh"
        "Bandarban";
        gap: 24px;
    }

}