@media screen and (max-width:600px) {
    /* banner part */

    .banner {
        width: 100%;
        height: 60vh;
    }

    .banner-title {
        padding-top: 32px;
        font-size: 1.375rem;

    }

    .banner-des {
        margin: 10px auto;
        width: 304px;
        font-size: 1rem;
        margin-bottom: 32px;
    }

    .banner-input {
        display: block;
        width: 80%;
        height: 40vh;
        padding: 20px;
        margin-bottom: 20px;
    }
    .banner-input-text,
    .banner-input-drop {
        width: 255px;
        margin-top: 20px;
        height: 52px;
        padding-left: 16px;
    }
    .banner-btn {
        padding: 16px;
        width: 255px;
        height: 52px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    /* popular part */

    .popular {
        padding-top: 1.5rem;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
        gap: 24px;
    }

    .popular-img img {
        width: 100%;
        padding: 24px;
    }

    .popular-content-title {
        font-size: 1.25rem;
        margin: 24px;
    }

    .popular-content-des {
        width: 350px;
        margin: 24px;
    }

    .popular-content-list {
        width: 350px;
        margin: 24px;
    }

    .popular-content button {
        margin-left: 24px;
    }

    /* destination section */
    .destination-gallery img {
        height: 200px;
        padding: 10px;
    }

    .destination-gallery {
        width: 100%;
        margin: 0 auto;
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-areas:
            "Maldives"
            "Indonesia"
            "Srilanka"
            "North-America"
            "Kashmir"
            "Bangladesh"
            "Bandarban";
        gap: 24px;
    }

    /* choose card section */
    .choose-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .choose-card1,
    .choose-card2,
    .choose-card3 {
        width: 335px;
        height: 289px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* newsletter section */
    .newsletter {
        padding-top: 4rem;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 5rem;
        align-items: center;
    }

    .newsletter-content {
        padding: 30px;
        width: 335px;
        height: 353px;
    }

    .newsletter-des {
        width: 270px;
    }

    .newsletter-line {
        width: 288px;
    }

    .newsletter-content-input {
        width: 288px;
        height: 52px;
    }

    .newsletter-btn {
        width: 288px;
        height: 52px;
    }
    .newsletter-img-btn {
        width: 40%;
        padding: 10px;
        height: 40%;
        bottom: 135px;
        left: 200px;
    }
    .newsletter-img-title {
        font-size: .9rem;
    }
    
    .newsletter-img-des {
        font-size: 1.2rem;
    }
    .newsletter-img{
        text-align: center;
    }

    .newsletter-img img {
        width: 100%;
        padding: 20px;
    }

    /* footer section */
    .footer .nav-logo {
        padding-top: 3rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .footer-des {
        width: 300px;
    }

    .footer-line {
        width: 300px;
    }


}