@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Manrope:wght@400;600;700;800&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;500;600;700;900&family=Work+Sans:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;

}

/* nav style */

.navbar {
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    margin: 50px auto;
    position: relative;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-menu {
    display: flex;
    gap: 44px;
}

.nav-menu a {
    text-decoration: none;
    position: relative;
    font-size: 1.125rem;
    color: #424247;
    cursor: pointer;
}

.close-menu,
.open-menu {
    position: absolute;
    color: #424247;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/* Banner style */

.banner {
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner-title {
    padding-top: 6.625rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-des {
    color: #FFF;
    font-weight: 400;
    margin: 24px auto;
    width: 676px;
    font-size: 1rem;
    margin-bottom: 48px;
}

.banner-input {
    border-radius: 8px;
    width: 60%;
    height: 70px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;

}

.banner-input-text,
.banner-input-drop {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
}

.banner-btn {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 16px 34px;
    color: #FFF;
    font-weight: 700;
    width: 174px;
    height: 52px;
}

/* popular styles */

.popular {
    padding-top: 6.25rem;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.popular-content-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

ul li {
    margin-bottom: 15px;
}

.popular-content-des {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    width: 577px;
    margin-bottom: 24px;
}

.popular-content-list {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    width: 525px;
    margin-bottom: 24px;
}

/* destination part */
.destination-head {
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 3rem;
}

.destination-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
}

.destination-des {
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.Maldives {
    grid-area: Maldives;
}

.Indonesia {
    grid-area: Indonesia;
}

.Srilanka {
    grid-area: Srilanka;
}

.North-America {
    grid-area: North-America;
}

.Kashmir {
    grid-area: Kashmir;
}

.Bangladesh {
    grid-area: Bangladesh;
}

.Bandarban {
    grid-area: Bandarban;
}

.destination-gallery img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.destination-gallery div {
    height: 90%;
}

.destination-gallery {
    width: 70%;
    padding: 30px;
    margin: 50px auto;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-areas:
        "Maldives Maldives Maldives Indonesia Indonesia Indonesia"
        "Srilanka Srilanka North-America North-America North-America Kashmir"
        "Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban";
    gap: 24px;
}

.destination-gallery div {
    transition: all .5s ease;
    cursor: pointer;
}

.destination-gallery div:hover {
    transform: scale(1.1);
}

/* choose us styles */
.choose {
    text-align: center;
    margin-bottom: 48px;
}

.choose-card {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0 auto;
}

.choose-card div {
    justify-content: center;
}

.choose-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
}

.choose-des {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.choose-card1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

.choose-card2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
}

.choose-card3 {
    width: 573px;
    padding: 30px;
    justify-content: center;
    margin: 24px auto;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background-color: rgba(233, 68, 68, 0.05);
}

.choose-card1,
.choose-card2,
.choose-card3 {
    padding: 30px;
    transition: all .5s ease;
    cursor: pointer;
}

.choose-card1:hover,
.choose-card2:hover,
.choose-card3:hover {
    transform: scale(.9);
}

.choose-card-title {
    color: #131318;
    font-weight: 800;
    font-size: 1.75rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

.choose-des {
    color: #5A5A5D;
    font-weight: 400;
}

/* newsletter section */
.newsletter {
    padding-top: 6.25rem;
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-bottom: 5rem;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding: 40px;
    width: 474px;
    height: 422px;
}

.newsletter-content-title {
    color: #131318;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.newsletter-des {
    width: 350px;
    color: #5A5A5D;
    font-weight: 400;
    margin-bottom: 24px;
}

.newsletter-line {
    width: 393px;
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}

.newsletter-content-input {
    border: none;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 24px;
}

.newsletter-btn {
    border-radius: 8px;
    border: none;
    width: 393px;
    height: 52px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
    font-size: 1.25rem;
}

.newsletter-img-btn {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding-top: 24px;
    position: relative;
    bottom: 170px;
    left: 340px;
}

.newsletter-img-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.newsletter-img-des {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* footer styles */
.footer {
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer .nav-logo {
    padding-top: 6.875rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.footer-des {
    color: #5A5A5D;
    font-weight: 400;
    width: 769px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    border: 2px solid white;
    color: #131318;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
    margin-bottom: 3rem;
}

.social-links a:hover {
    background-color: #FF5400;
    color: #2b2b2b;
}

.footer-line {
    width: 872px;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    margin-bottom: 50px;
}

.footer-ending {
    color: #131318;
    font-weight: 300;
    font-family: Inter;
    padding-bottom: 50px;
}